$heading-font-size:2.5vw;

@mixin marginPadding{
  margin:0;
  padding:0;
}

@mixin centering {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

@mixin line($line-color) {
  content: '';
  display:block;
  width: 107px;
  height: 0px;
  border: 2px solid $line-color;
  z-index: 2;
  margin: 42px auto;
}

@mixin button-style($btn-bg-color, $btn-font-color){
    width: 200px;
    background: $btn-bg-color;
    color:$btn-font-color;
    height: 51px;
    font-size:20px;
    transition: all 0.3s ease;
    &:hover{
      background: rgba(0,0,0,0);
    }
}

@mixin flexbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

// MIXIN ENDS HERE

// ==========================
// HEADER SECTION STYLING
// ==========================


header{
  height: 100vh;
  width:100vw;
  background-image: url('../images/banner.jpeg');
  background-position: center;
  background-size: cover;
  position:relative;

  .banner{
    @include centering;
    width:80%;
    text-align: center;
    color: $white;
    text-shadow: 1px 1px 1px black;

    h1{
      font-size: 78px;
      font-variant: small-caps;
    }
    p{
      font-size:32px;
      &:after{
        @include line($orange);
      }
    }

    button{
      @include button-style($orange,$white) ;
    }
  }
}

@media(max-width:768px){
  header{
    .banner{
      width:90%;
      h1{
        font-size: 10vw;
      }
      p{
        font-size:5vw;
      }
      button{
        width: 180px;
        height: 45px;
        font-size:17px;
      }
    }
  }
}

// ====================
// SECTION 1 STYLING
// ====================

.section1{
  width:100vw;
  background:$orange;
  color:$white;
  text-align:center;
  padding:1vw 0;

  .container{
    width:40%;
  }

  h2{
    font-size:$heading-font-size;
  }

  p{
    font-size: 1vw;
    &:after{
      @include line($white);
    }
  }

  button{
    @include button-style($white, black);
    border-radius: 40px;
  }
}


@media(max-width:1400px){
  .section1{
    .container{
      width:50%;
    }

    h2{
      font-size:3.5vw;
    }

    p{
      font-size: 1.5vw;
    }

    button{
    }
  }
}

@media (max-width:768px) {
  .section1{
    padding:5vw 0;
    .container{
      width:90%;
    }

    h2{
      font-size:7vw;
    }

    p{
      font-size: 4vw;
    }

    button{
      width: 180px;
      height: 45px;
      font-size:17px;
    }
  }
}

// ==========================
// Section 2 Styling
// ==========================

.section2{
  width:100vw;
  padding:1vw 0;
  text-align:center;

  h2{
    font-size:$heading-font-size;
    &:after{
      @include line($orange);
    }
  }

  i{
    font-size: 40px;
    color: $orange;
  }

  p{
    font-size:16px;
  }
}

@media(max-width:768px){
  .section2 {
    h2{
      font-size:28px;
    }
    .col-lg-3.col-md-3.col-sm-3{
    margin-bottom: 20px;
  }
}
}

// ====================
// SECTION GALLERY STYLING
// ====================

.sectionGallery{
  margin-top:50px;

  h1{
    font-size: 70px;

    &:after{
      @include line($orange);
    }
  }

  .rm-margin-padding{
  @include marginPadding;
  overflow: hidden;
  position:relative;
  z-index: 100;

  img{
    position:relative;
    z-index:-10;
    width:100%;
    height:250px;
    transition:all 0.3s ease;
  }

  &:after{
    content:"";
    display:block;
    position:absolute;
    z-index:1000;
    top:0;
    left:0;
    right:0;
    height:0%;
    background: linear-gradient(rgba(52, 152, 219,0.5), rgba(22, 160, 133,0.5));
    transition:all 0.3s ease;
  }

  &:hover:after{
    height:100%;
  }

  &:before{
    content:'View Image!';
    @include centering;
    z-index:20000;
    font-size:40px;
    text-shadow:0 0 2px black;
    color:white;
    opacity:0;
    transition:all 1s ease;
  }

  &:hover:before{
    opacity:1;
  }

  &:hover img{
    filter: grayscale(100%);
  }
  }
}


// ======================
// SECTION 4 Styling
// ======================

.section4{
  background:#141414;
  color:$white;
  padding:20px 0;
  text-align:center;

  h2{
    font-size:50px;
    margin: 50px 0;
  }

  button{
    @include button-style($white, black);
  }
}

// ================
// Footer Styling
// ================
.footer{
  margin:30px 0;
  text-align:center;
  h2{
    font-size:40px;
    &:after{
      @include line($orange);
    }
  }

  p{
    font-size:18px;
  }

  i{
    font-size:40px;
    color:$orange;
  }
}
