doctype
html
  include includes/head.pug
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(data-target="#nav" data-toggle="collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="index.html") Creative
          ul.nav.navbar-nav.collapse.navbar-collapse.navbar-right
            li: a(href="index.html") Home
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") Services
                span.caret
              ul.dropdown-menu
                li: a(href="services.html") Real Services
                li: a(href="#") Hahaha
                li: a(href="#") Hahaha
            li: a(href="about.html") About
            li: a(href="Contact.html") Contact
    
      .banner
        h1 Creativity Comes from Within!
        p But for the First Time its on Sale!
        button.btn.btn-default.btn-lg Get it Now!

    section.section1#section1
      .container
        h2 We've got what you need!
        p Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
        button.btn.btn-default.btn-large Get Started!
        
    section.section2#section2
      .container
        h2 At Your Service
        .col-lg-3.col-md-3.col-sm-3
          p: i.fa.fa-diamond
          h3 Sturdy Templates
          p.text-muted Our templates are updated regularly so they don't break.
        .col-lg-3.col-md-3.col-sm-3
          p: i.fa.fa-paper-plane
          h3 Sturdy Templates
          p.text-muted Our templates are updated regularly so they don't break.
        .col-lg-3.col-md-3.col-sm-3
          p: i.fa.fa-newspaper-o
          h3 Sturdy Templates
          p.text-muted Our templates are updated regularly so they don't break.
        .col-lg-3.col-md-3.col-sm-3
          p: i.fa.fa-heart
          h3 Sturdy Templates
          p.text-muted Our templates are updated regularly so they don't break.
